

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #090e19;
    background: rgb(233, 236, 236);
    padding-left: 30px;
   
}
h1 {
    color: rgb(14, 40, 102);
}
.bg-red {
    background: #ffe5e5;
}
.bg-yellow {
    background: #eff17f;
}
.bg-green {
    background: #e5ffe7;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    
    padding-left: 20px;
    padding-bottom: 5px;
}
    
    

table {
    background-color: rgb(175, 175, 208);
    color: rgb(30, 28, 28);
}

ol li {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(7, 9, 12);
}
.btn {
    background: rgb(198, 189, 189);
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

.navbar {
    position: fixed;
    right: 25px;
}
.form-group label {
    display: block;
    font-size: 15px;
    color: rgb(58, 59, 78);
}
.form-group input,
.form-group textarea {
    width: 30%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding: 2px 0 10px;
    color: rgb(31, 31, 40);
    outline: none;
    font-family: inherit;

    
}

.form input {
    background: transparent;
}